.layout{
  margin: 0 auto;
  max-Width: 1200x;
  min-Width: 800px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 800px;
}

.form{
  padding-top: 10px;
}

.todos_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: left;
}

.todos_container{
  border:  2px solid teal;
  border-Radius:  12px;
  padding:  12px 24px 24px ;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

.todos_title{
  display:  block  ;
  overflow-wrap: break-word;
  font-Size:  1em  ;
  margin-Block-Start:  0.83em  ;
  margin-Block-End:  0.83em  ;
  margin-Inline-Start:  0px  ;
  margin-Inline-End:  0px  ;
}